.center-screen {
  margin-top: 50vh;
  text-align: center;
}

.overlay {
  font-size: medium;
  position: fixed; /* Sit on top of the page content */
  /*display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.tutorial-instruction {
  position: absolute;
  background-color: lightgray;
  z-index: 100;
  margin: 250px 10px;
  padding: 10px;
  border-radius: 3px;
  opacity: 100;
}
 .tutorial-focus {
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .5);
 }

.App {
  text-align: center;
  background-color: #f0f0f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}
button:hover{
  box-shadow: 0px 0px 3px 3px rgb(111, 146, 146);
}
input {
  margin: 5px;
}
.DropdownMenu {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
