.BookManager {
    max-height: 500px;
    cursor: pointer;
    background-color: #bfbfbf;
}

.card {
    display: inline-block;
    aspect-ratio: 1;
    width: 15vw;
    height: 15vw;
    max-height: 130px;
    min-height: 90px;
    max-width: 130px;
    min-width: 90px;
    margin: 20px;
    vertical-align: bottom;
    background-color: #ececf0;
    padding: 30;
 }
 .card > h4 {
     margin-top: auto;
     margin-bottom: 10px;
 }
 .card > div {
     aspect-ratio: 4;
     vertical-align: bottom;
 }

 .card > div > span {
    border-bottom: 1px solid #aaa;
 }

 .card>div:hover {
     background-color: #d1d1de;
 }