.ChessboardMask {
    display: inline-block;
    margin: 20px;
}

.sections {
    display: inline-block;
    vertical-align: top;
}

.sectionsOuter {
    display: inline-block;
}

.statusBarThin {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 10px;
    height: 80px;
    width: 30vw;
    border-radius: 10px;
    margin: 20px;
    vertical-align: top;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
    font-size: calc(.8vw + .8vh);
}

.statusBarWide {

    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding: 10px;
    height: 80px;
    width: 60vw;
    border-radius: 10px;
    margin: 20px;
    vertical-align: top;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
    font-size: calc(.8vw + .7vh + 1.1vmin);
}

.sections >  .thin {
    position: relative;
    height: 80px;
    width: calc(30vw + 20px);
    border-radius: 10px;
    margin: 20px;
    border: 1px solid;
}

.sections >  .wide {
    position: relative;
    height: 80px;
    width: calc(60vw + 20px);
    border-radius: 10px;
    margin: 20px;
    border: 1px solid;
}

.sections >  .thin:hover {
    box-shadow: 0px 0px 1px 1px rgb(111, 146, 146);
}

.sections >  .wide:hover {
    box-shadow: 0px 0px 1px 1px rgb(111, 146, 146);
}
 .thin > button {
     margin: 3px;
     position: absolute;
     top: 0px;
     right: 0px;
     font-size: calc(.8vw + .8vh);
 }
 .wide > button {
    margin: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: calc(.8vw + .7vh + 1.1vmin);
}