.Topbar > h2{
    display: inline;
    padding: 20px;
}

.Topbar > h3{
    display: inline;
    padding: 20px;
}

.Topbar {
    text-align: left;
    height: 60px;
}

.Topbar > input {
    position: absolute;
    right: 10px;
    top: 10px;
}

.Topbar > button {
    position: absolute;
    right: 10px;
    top: 35px;
}